<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>post list</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th> Title </th>
          <th> Author </th>
        </tr>
      </thead>
      <tbody>
        {% for post in post_list %}
          <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.author }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
    {% for page in total_page %}
      {% if current_page != page %}
        <a href="?page={{ page }}"> {{ page }} </a>
      {% else %}
        <span style="font-weight: bold;"> {{ page }} </span>
      {% endif %}
    {% endfor %}
  </body>
</html>
